langchain
langchain-core
langchain-community

langchain-text-splitters

google-generativeai

langchain-google-genai

pypdf
pymupdf

sentence-transformers

faiss-cpu

chromadb

python-dotenv

numpy

pandas